<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        android:required="false" />

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".MediaEditorApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaEditor"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <!-- AdMob Application ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- File Provider for sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Activities -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MediaEditor.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MediaEditor.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ImageEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.MediaEditor.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.VideoEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.MediaEditor.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AIToolsActivity"
            android:exported="false"
            android:theme="@style/Theme.MediaEditor.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AIProcessActivity"
            android:exported="false"
            android:theme="@style/Theme.MediaEditor.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MediaEditor"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.MainActivity" />

        <!-- Intent Filters for handling media files -->
        <activity
            android:name=".ui.ImageEditorActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.VideoEditorActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
